# ---------- Hexo 构建产物 ----------
public/
db.json
db.json.bak
_multiconfig.yml
.deploy_git/
.deploy_*/
node_modules/
npm-debug.log*
yarn-error.log*
*.log

# 系统 / 编辑器杂项
Thumbs.db
.DS_Store
.idea/
.zcode/
